body{
    background-image: url("../img/wallpaper.png");
    background-size: cover ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.answer{
    display: flex;
}

.Legenda{
    display: flex;
}

#tentativas {
  background-color: rgb(24, 24, 24);
  color: gold
}

.legendatext{
    display: flex;
    color: gold;
    background-color: rgb(24, 24, 24);
    font-size: 20px;
    width: 130px;
    justify-content: center;
    align-items: center;
    margin: 20px 25px;
    border-radius: 10px;
}

.caixa{
  border-radius: 10px;
    display: flex;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    background-color: gray;
    height: 130px ;
    width: 130px ;
    justify-content: center;
    align-items: center;
    margin: 5px 25px;
}

.caixa img {
  width: 70%;
  padding-bottom : 0 ;
}

#nome p {
  margin: 0;
}

.errado{
    background-color: red;
    color: white;
}

main{display: flex;
flex-direction: column-reverse;}

.certo{
    background-color: green;
}
    fieldset {
        border: 1px solid gold;
        background-color: rgb(24, 24, 24);
        border-radius: 5px;
        
      }
    button{
        height: 7vh;
        color: gold;
        border: 1px solid gold;
        border-radius: 5px;
        padding: 10px;
    
    }
      
      legend, label{
        color: gold; 
        font-size: 24px;
        font-family: sans-serif;
      }
      
      input {
        font-size: 18px;
        padding: 5px;
        height: 5vh;
        width: 30vw;
        background-color: rgb(26, 26, 26);
        border: 1px solid gold;
        outline: none;
        border-radius: 5px;
        color: gold;
      /*   border-bottom: none; */
      }
      datalist {
        position: absolute;
        background-color: rgb(53, 53, 53);
        border: 1px solid gold;
        border-radius: 0 0 5px 5px;
        border-top: none;
        font-family: sans-serif;
        width: 30vw;
        padding: 5px;
        max-height: 10rem;
        overflow-y: auto
        
      }
      
      option {
        background-color:  rgb(53, 53, 53);
        padding: 4px;
        color: gold;
        margin-bottom: 1px;
         font-size: 18px;
        cursor: pointer;
      }
      
      option:hover,  .active{
        background-color: lightblue;
      }

option img{
    height: 30px;
}

@media (max-width: 600px) {
  .legendatext {
      font-size: 9px; /* Ajusta o tamanho da fonte para telas menores */
      width: 60px; /* Ajusta a largura da legenda em telas menores */
      margin: 1.2vw; /* Ajusta a margem */
  }

  .caixa {
      height: 100px; /* Reduz a altura das caixas */
      font-size: 10px;
      width: 65px;
      height: 65px; /* Reduz a largura das caixas */
      margin: 1vw; /* Margem leve para separar as caixas */
  }
  #nome p{
    font-size: 8px;
  }

  button {
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 10%; /* Largura do botão para caber em telas menores */
      font-size: 150%; /* Tamanho da fonte ajustado para botões */
  }
  fieldset{
    width: 90%;
  }

  input {
      width: 80%; /* Ajusta a largura do campo de entrada */
      font-size: 16px; /* Tamanho da fonte ajustado para inputs */
  }

  /* Ajusta a largura das caixas e legendas para não sair da tela */
  .answer {
      flex-direction: row; /* Mantém as caixas na mesma linha */
      justify-content: space-evenly; /* Distribui uniformemente as caixas */
  }
}